
<div class="header">
    <div class="container">
        <img src="/Images/logo.png" alt="" />
        <ul class="nav">
            <span class="icons">
                <span class="icon"></span>
                <span class="icon"></span>
                <span class="icon"></span>
            </span>
            <li><a asp-controller="Welcome" asp-action="WelcomePage">Home</a></li>
            <li><a href="#info">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#contact">Phone</a></li>
            <li><a href="#branches">Here</a></li>
            @if (User.Identity.IsAuthenticated && !User.IsInRole("Guset"))
            {
                <li><a asp-controller="AdminWelcome" asp-action="AdminHome">DashBoard</a></li>
            }
        </ul>
        <ul class="mobilenav">
            @if (User.Identity.IsAuthenticated)
            {
                <li style="font-size=20px;">Welcome @User.Identity.Name</li>
                <li><a asp-action="Logout" asp-controller="Account">Logout</a></li>
                @if (User.IsInRole("Guset"))
                {
                    int? GusetId = Context.Request.Cookies["GusetId"] != null ? int.Parse(Context.Request.Cookies["GusetId"]) : (int?)null;
                    <li>
                        <a asp-action="RelatedBGS" asp-controller="Guset" asp-route-id="@GusetId">
                            See your Appointments
                        </a>
                        <div class="count-service"></div>
                    </li>
                }

            }
            <li><a asp-controller="Welcome" asp-action="WelcomePage">Home</a></li>
            <li><a href="#info">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#contact">Phone</a></li>
            <li><a href="#branches">Here</a></li>
            @if (!User.Identity.IsAuthenticated)
            {
                <li><a asp-action="Login" asp-controller="Account" asp-route-ReturnToPage="true">Login</a></li>
            }

        </ul>

        @if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole("Guset"))
            {
                int? GusetId = Context.Request.Cookies["GusetId"] != null ? int.Parse(Context.Request.Cookies["GusetId"]) : (int?)null;
                <div class="Shape">
                    <a asp-action="RelatedBGS" asp-controller="Guset" asp-route-id="@GusetId">See your Appointments</a>
                    <div class="count-service"></div>
                </div>
            }
            <div class="user-name">Welcome  @User.Identity.Name</div>
            <div class="logout"><a style="color:black" asp-action="Logout" asp-controller="Account">Logout</a></div>

        }
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="Shape">
                <a asp-action="Login" asp-controller="Account" asp-route-ReturnToPage="true">Login</a>
            </div>
        }
    </div>
</div>