<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>MedicalServices</title>
    <partial name="_CssLinksPartiaView"></partial>

</head>
<body>
    <!-- Start Header -->
    <partial name="_headerPartialView"></partial>
    <!-- End Header -->
   <div class="spinner-container">
        <div class="spinner"></div>
   </div>
    @RenderBody()
    <!--start big footer  -->
    <partial name="_BigFooterPartialView"></partial>
    <!--ENd big footer  -->
    <!-- start footer -->
    <partial name="_FooterPartailView"></partial>
    <!-- End footer -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <Partial name="_JsLinksPartialView"></Partial>
@* 
    <script>
        console.clear();
    </script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
