@model AssignRoleVm
@{
    Layout = "Admin/_AdminLayout";
    SelectList selectListItems = new SelectList(ViewBag.Roles, "Name", "Name");
    SelectList selectListItems02 = new SelectList(ViewBag.Branches, "ID", "Name");
}

<h2 class="name">AssignRole</h2>

<div class="new">
    <div class="input-new">
        <a>New</a>
    </div>
</div>
<!-- start Form -->
<form asp-action="AssignRole" class="new-catigory-form" enctype="multipart/form-data">

    <div class="container">
        <div class="text">
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="text">
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="text">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div class="text">
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="text">
            <label asp-for="Address"></label>
            <input asp-for="Address" />
            <span asp-validation-for="Address"></span>
        </div>
        <div class="text">
            <label asp-for="Image"></label>
            <input asp-for="Image" type="file"  />
            <span asp-validation-for="Image"></span>
        </div>
        <div class="text">
            <label asp-for="Age"></label>
            <input asp-for="Age" />
            <span asp-validation-for="Age"></span>
        </div>
        <div class="text">
            <label asp-for="Salary"></label>
            <input asp-for="Salary" />
            <span asp-validation-for="Salary"></span>
        </div>
        <div class="text">
            <label asp-for="BranchId">Branch</label>
            <select asp-items="selectListItems02" asp-for="BranchId">
                <option value="0">--Select Branch--</option>
            </select>
            <span asp-validation-for="BranchId"></span>
        </div>
        <div class="text">
            <label asp-for="RoleName"></label>
            <select asp-items="selectListItems" asp-for="RoleName">
                <option value="0">--Select Role--</option>
            </select>
            <span asp-validation-for="RoleName"></span>
        </div>
        <div class="submit">
            <input type="submit" />
            <div asp-validation-summary="All" class="text" style="color:red"></div>
        </div>

    </div>

</form>
<partial name="_ValidationScriptsPartial"></partial>
<!-- End Form -->




