@model LoginGusetVm
<form asp-action="Login">

    <div class="container">
        <div class="text">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>
        <div class="text">
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="text">
            <label asp-for="RememberMe"></label>
            <input asp-for="RememberMe" />
            <span asp-validation-for="RememberMe"></span>
        </div>
        <div class="submit">
            <a asp-action="Register">Register</a>
            <input type="submit" />
        </div>
        <div asp-validation-summary="All" class="text" style="color:red"></div>
    </div>

</form>

<partial name="_ValidationScriptsPartial"></partial>