
@{
	Layout = null;
}
<h2>Sorry Can Not<span style="color:red;"> reseve</span> this one now! Try Later</h2>

<a style="color: #777;text-decoration: none;" asp-action="WelcomePage" asp-controller="Welcome">Return Home</a>