@model List<IdentityRole>
@if (User.IsInRole("SuperAdmin"))
{
	
	@foreach (IdentityRole role in Model)
	{
		string ActionName = $"GetAll{role.Name}s";
		<li> <a asp-action="@ActionName" asp-controller="Workers">@role.Name</a></li>
	}

}
