@model ApplicationUser
<form asp-action="Update" asp-route-id="@Model.Id" class="disapper-form">
    <div class="text">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="text">
        <label asp-for="PasswordHash"></label>
        <input asp-for="PasswordHash" />
        <span asp-validation-for="PasswordHash"></span>
    </div>
    <div class="text">
        <label asp-for="Image"></label>
        <input asp-for="Image" />
        <span asp-validation-for="Image"></span>
    </div>
    <div class="text">
        <label asp-for="Address"></label>
        <input asp-for="Address" />
        <span asp-validation-for="Address"></span>
    </div>
    <div class="text">
        <label asp-for="Age"></label>
        <input asp-for="Age" />
        <span asp-validation-for="Age"></span>
    </div>
    <div class="text">
        <label asp-for="Image"></label>
        <input asp-for="Image" />
        <span asp-validation-for="Image"></span>
    </div>
    <div class="submit">
        <input type="submit" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}