@model IWorker
@{
    Layout = "Admin/_AdminLayout";
}
<div class="board">
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Age</td>
                <td>Salary</td>
                <td>Branch</td>
                <td>Image</td>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td class="title">
                        <div class="text">
                            <h5>@(Model?.User?.UserName ?? "Not Found")</h5>
                        </div>
                    </td>
                <td class="role">
                    <p class="text">@(Model?.User?.Age?? 0)</p>
                </td>
                <td class="role">
                    <p class="text">@(Model?.User?.Salary ?? 0)</p>
                </td>
                    <td class="role">
                        <p class="text">@(Model?.Branch?.Name ?? "Not Found")</p>
                    </td>

                    <td class="person">
                        <img src="~/@Model.User.Image" alt="Not Found" />
                    </td>
                </tr>
        </tbody>
    </table>
</div>


