/* start Input */
.new {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.sort select {
    border: 1px solid #d9d9d9;
    padding: 5px 5px;
    border-radius: 5px;
    caret-color: var(--main-color);
    font-size: 15px;
    outline: none;
}

.new .input-new {
    width: fit-content;
    background-color: var(--main-color);
    color: white;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

    .new .input-new:hover {
        background-color: #6bc6ff;
    }

.content .input {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

    .content .input .btn {
        background-color: blue;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
    }

    .content .input input {
        border: none;
        outline: none;
        padding: 10px 15px;
        border-radius: 5px;
    }
/* End Input */
