/* Start Our Branches */
.branch {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);
}

    .branch > .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .branch > .text p {
            color: #777;
            width: fit-content;
            margin: 30px auto;
            text-align: center;
        }

    .branch .container {
        display: flex;
        gap: 40px;
    }

        .branch .container .boxes {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            gap: 40px;
        }

        .branch .container .box {
            background-color: white;
            box-shadow: 2px 2px 3px #e6e6e6;
            transition: var(--main-transtion);
            width: 30%;
        }

            .branch .container .box:hover {
                transform: translateY(-10px);
                transform: scale(1.05);
            }

            .branch .container .box img {
                width: 100%;
            }

            .branch .container .box .text {
                padding: 20px;
            }

                .branch .container .box .text h3 {
                    font-size: 25px;
                    color: var(--main-color);
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                .branch .container .box .text p {
                    color: #777;
                    margin-bottom: 20px;
                }

                .branch .container .box .text a {
                    color: var(--main-color);
                }

        .branch .container .searchitem {
            align-content: flex-start;
            flex-wrap: wrap;
            justify-content: flex-start;
            max-width: 300px;
        }

            .branch .container .searchitem .catigorys {
                display: flex;
                flex-direction: column;
            }

                .branch .container .searchitem .catigorys .catigory {
                    display: flex;
                    margin-bottom: 10px;
                    justify-content: space-between;
                }

                    .branch .container .searchitem .catigorys .catigory input {
                        margin-right: 15px;
                    }

@media (max-width: 992px) {
    .branch .container .box {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .branch .container {
        flex-direction: column;
        text-align: center;
    }

        .branch .container .box {
            width: 100%;
        }

        .branch .container .boxes {
            flex-direction: column;
        }

        .branch .container .searchitem {
            justify-content: center;
        }
}
/* ENd Our Branches */
