/* Start business section */
.business {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

    .business .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

        .business .container img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }

        .business .container .text {
            max-width: 50%;
        }

            .business .container .text i {
                font-size: 30px;
                color: var(--main-color);
                margin-bottom: 20px;
            }

            .business .container .text p:first-of-type {
                margin-bottom: 20px;
                font-size: 30px;
                font-weight: 500;
            }

            .business .container .text p:last-child {
                line-height: 1.7;
                color: #777;
            }

/* Responsive Design */
@media (max-width: 992px) {
    .business .container {
        flex-direction: column;
        text-align: center;
    }

        .business .container img {
            display: none;
        }

        .business .container .text {
            max-width: 100%;
        }
}

/* End business section */
