/* Start Our Branches */
.cards-container {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);
    min-height:100vh;
}
    .cards-container .main-title{
        margin-bottom:40px;
    }

    .cards-container > .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .cards-container > .text p {
            color: #777;
            width: fit-content;
            margin: 30px auto;
        }

    .cards-container .container {
        display: flex;
        gap: 40px;
        align-items: flex-start;
    }

        .cards-container .container .boxes {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            gap: 40px;
        }

        .cards-container .container .box {
            background-color: white;
            box-shadow: 2px 2px 3px #e6e6e6;
            transition: var(--main-transtion);
           /* width: 30%;*/
            max-width: 261px;
        }

            .cards-container .container .box:hover {
                transform: translateY(-10px);
                transform: scale(1.05);
            }

            .cards-container .container .box img {
                width: 100%;
            }

            .cards-container .container .box .text {
                padding: 20px;
            }

                .cards-container .container .box .text h3 {
                    font-size: 25px;
                    color: var(--main-color);
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                .cards-container .container .box .text p {
                    color: #777;
                    margin-bottom: 20px;
                    text-wrap: nowrap;
                }

                .cards-container .container .box .text a {
                    color: var(--main-color);
                }

        .cards-container .container .searchitem {
            align-content: flex-start;
            flex-wrap: wrap;
            justify-content: flex-start;
            max-width: 230px;
            padding: 15px;
            border-radius:5px;
            background-color:white;
        }
            .cards-container .container .searchitem .catigorys {
                display: flex;
                flex-direction: column;
                transform:translateY(-10%);
                transition:0.4s;
                z-index:-1;
            }

                .cards-container .container .searchitem .catigorys .catigory {
                    display: flex;
                    margin-bottom: 10px;
                    justify-content: space-between;
                }

                    .cards-container .container .searchitem .catigorys .catigory label {
                        margin-right: 15px;
                    }                     
                    .cards-container .container .searchitem  .search {
                         margin: 0 auto 20px 0;
                         max-width:100%;
                    }

@media (max-width: 992px) {
    .cards-container .container .box {
        width: 45%;
    }
    .cards-container .container .boxes {

        justify-content: flex-end;

    }

@media (max-width: 768px) {
    .cards-container .container {
        flex-direction: column;
        text-align: center;
    }

        .cards-container .container .box {
            max-width: 100%;
            width: 100%;
        }

        .cards-container .container .boxes {
            flex-direction: column;
        }

        .cards-container .container .searchitem {
            justify-content: center;
            max-width: 70%;
            margin: auto;
            
        }
        .cards-container .container .searchitem .search{
            width:100%;
        }
}
/* ENd Our cards-container */

