/* start Details */
.detail {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);
    min-height: 100vh;
}

    .detail .text .main-title {
        margin-bottom: 20px;
    }

    .detail .container .box {
        background-color: white;
        padding: 50px 50px 150px 50px;
        text-align: center;
    }

        .detail .container .box .image {
            margin-bottom: 20px;
        }

            .detail .container .box .image img {
                max-width: 100%;
            }

        .detail .container .box .text h3 {
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        .detail .container .box .text p {
            color: #777;
            line-height: 1.7;
            margin-bottom: 20px;
            word-wrap: break-word;
        }

        .detail .container .box .text a {
            color: var(--main-color);
            font-size: 20px;
        }

@media (max-width: 768px) {
    .detail .text .main-title {
        margin-bottom: 20px;
        font-size: 23px;
    }
}
/* End Details */
