/* Main */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --header-color: white;
    --main-transtion: 0.3s;
    --section-padding: 80px;
    --main-color: #009dff;
    --section-color: #f5fbff;
}

.Shape {
    background-color: #009dff;
    padding: 7px 20px;
    border-radius: 5px;
    transition: var(--main-transtion);
    border: 1px solid #009dff;
    width: fit-content;
}
.Shape:hover {
        background-color: white;
    }

        .Shape:hover a {
            color: #009dff;
        }

    .Shape a {
        text-decoration: none;
        color: white;
    }

.main-title {
    width: fit-content;
    margin: auto;
    font-size: 40px;
    font-weight: 500;
    position: relative;
    margin-bottom: 20px;
}

    .main-title::before {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 50%;
        transform: translateX(-50%);
        width: 40%;
        height: 2px;
        background-color: var(--main-color);
    }

.searchitem {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .searchitem .search {
        margin-bottom: 20px;
        border: 1px solid #cdcdcd;
        padding: 10px 25px;
        border-radius: 5px;
        outline: none;
        caret-color: var(--main-color);
        font-size: 15px;
        color: #777;
        margin: 20px auto;
    }

    .searchitem i {
        color: #777;
    }
.drop-button {
    background-color: var(--main-color);
    width: 100%;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
}
    .drop-button .arrow {
        position: absolute;
        right: 10px;
        transform:rotate(0deg); 
        font-size: 15px;
        transition:0.4s;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
@media (max-width:768px){

    .main-title {
        font-size:30px;
    }
}
/* End Main */




