@model Catigory
@{
    Layout = "Admin/_AdminLayout";
}
<h2 class="name">Related Medical Services</h2>
<div class="board">
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            @foreach (MedicalService service in Model.MedicalServices)
            {
                <tr>
                    <td class="title">
                        <div class="text">
                            <h5>@service.Name</h5>
                        </div>
                    </td>
                    <td class="role">
                        <p class="text">@service.Description</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
