@model UploadedFilesVm
@{
    Layout = "Admin/_AdminLayout";
    SelectList selectListItems = new SelectList(ViewBag.BGS, "ID", "ID");
}
<h2 class="name">Upload</h2>
<div class="new">
    <div class="input-new">
        <a>New</a>
    </div>
</div>
<form asp-action="Upload" class="new-catigory-form" enctype="multipart/form-data">

    <div class="container">
        <div class="text">
            <label asp-for="Files"></label>
            <input asp-for="Files"  multiple/>
            <span asp-validation-for="Files"></span>
        </div>
        <div class="text">
            <label asp-for="OrderForignKeyID">OrderId</label>
            <select asp-items="selectListItems" asp-for="OrderForignKeyID">
                
            </select>
            <span asp-validation-for="OrderForignKeyID"></span>
        </div>
        <div class="submit">
            <input type="submit" />
            <div asp-validation-summary="All" class="text" style="color:red"></div>
        </div>

    </div>

</form>
<partial name="_ValidationScriptsPartial"></partial>

