@model List<IdentityRole>
@{
    ViewData["Title"] = "Index";
    Layout = "Admin/_AdminLayout";
}
<h2 class="name">Roles</h2>
<div class="board">
    
    <table>
        <thead>
            <tr>
                <td>Name</td>  
            </tr>
        </thead>
        <tbody>
            @foreach (IdentityRole role in Model)
            {
                <tr>
                    <td class="title">
                        <div class="text">
                            <h5>@role.Name</h5>
                            <p>@role.Id</p>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

