@{
    Layout = "Admin/_AdminLayout";
}
@model RoleVm
<form asp-action="New">
    <div class="container">
        <div class="text">
           <label asp-for="RoleName"></label>
            <input asp-for="RoleName" type="text" placeholder="Input New" />
            <span asp-validation-for="RoleName"></span>
            <div asp-validation-summary="All" class="text" style="color:red"></div>
        </div>
        <div class="submit">
            <input type="submit" />
        </div>
    </div>
    
</form>

<partial name="_ValidationScriptsPartial"></partial>
